/* style.css */


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
    background-image: url(imagens/wallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-container {
  width: 90%;
  max-width: 400px;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-logo img {
  width: 60px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin: 0;
}

p {
  color: #666;
  margin-bottom: 1.5rem;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-entrar {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-entrar:hover {
  background-color: #0056b3;
}

.forgot-password {
  display: block;
  margin-top: 1rem;
  color: #666;
  text-decoration: none;
}

.social-login {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.social-btn {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 45%;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: #666;
}
h1{
  color: rgb(10, 10, 85);
}
